<div class="home-container">
    <div class="inner-header">
        <h1>{{error.status}}<span style="color: #706EFF;"> {{error.message}}</span></h1>
        <p>Seems like we didn't found this!</p>
    </div>
    <img src="/img/404_page_not_found_.svg" alt="page not found" class="img-home">
    <div class="btn-container">
        <a class="btn btn-dark" href="/" role="button">Take me home</a>
    </div>
</div>