<div class="home-container">
    <div class="inner-header">
        <h1>Post<span style="color: #706EFF;">-it</span></h1>
        <p>Need to do something later?<br>Are you afraid you will forget it?<br>Post it here!</p>
    </div>
    <img src="/img/reminder_note.svg" alt="reminder-note" class="img-home">
    <div class="btn-container">
        <a class="btn btn-dark" href="/posts/new" role="button">Post-it now!</a>
        <a class="btn btn-primary" href="/posts" role="button">To my posts</a>
    </div>
</div>
